<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:annotation-config />
    <mvc:resources mapping="/resources/**" location="../resources" />
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    
    <bean class="co.digiart.ivc.services.SessionService" scope="session" id="sessionService"/>
    <bean class="co.digiart.ivc.services.AdminSessionService" scope="session" id="adminsessionService"/>
    
    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
 <bean name="loginController"
        class="co.digiart.ivc.controllers.LoginController"
        -->
    <!--<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="oracle.jdbc.driver.OracleDriver"
          p:url="jdbc:oracle:thin:@localhost:1521/xe"
          p:username="SYSTEM"
          p:password="Kodomo82" />-->
    <bean 
    class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
    id="dataSource" p:password="Kodomo82" p:username="SYSTEM" 
    p:url="jdbc:oracle:thin:@localhost:1521/xe" 
    p:driverClassName="oracle.jdbc.driver.OracleDriver"/>
    <!--
    <bean 
    class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
    id="dataSource" p:password="Kodomo82" p:username="IVC2" 
    p:url="jdbc:oracle:thin:@localhost:1521/xe" 
    p:driverClassName="oracle.jdbc.driver.OracleDriver"/>
    -->
    
<!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
          <!--
          <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="oracle.jdbc.driver.OracleDriver"
          p:url="jdbc:oracle:thin:@localhost:1521:xe"
          p:username="SYSTEM"
          p:password="Kodomo82" />-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

</beans>
